<template>
  <f7-page>
    <f7-navbar :title="'DIETAS CHARO'">
        <f7-nav-right>
            <a @click="resetAll" class="link"><i class="f7-icons size-22">reload</i></a>
        </f7-nav-right>
    </f7-navbar>
    <f7-toolbar tabbar>
      <f7-link tab-link="#lunch" tab-link-active>COMIDAS</f7-link>
      <f7-link tab-link="#dinner">CENAS</f7-link>
      <f7-link tab-link="#menu">MENÚ</f7-link>
    </f7-toolbar>
    <f7-tabs swipeable>
      <f7-tab id="lunch" tab-active class="page-content page-content-no-padding" >
        <f7-block>
          <h2 v-if="dinnerSelected">CENA: {{dinnerSelected.name}} <a @click="dinnerSelected=false; resetMeals();"><i class="f7-icons size-22">trash</i></a></h2>

          <f7-list>
            <f7-list-item>
              <f7-input
                class="search-input"
                type="text"
                placeholder="Buscar comidas..."
                clear-button
                :value="searchLunch"
                @input="searchLunch = $event.target.value"
              >
              </f7-input>
            </f7-list-item>
            <f7-list-item @click="selectLunch(lunch)" link="#" v-for="lunch in filteredLunch" :key="lunch.id" :title="lunch.name" :after="lunch.labelSelected">
            </f7-list-item>
          </f7-list>
        </f7-block>
      </f7-tab>
      <f7-tab id="dinner" class="page-content page-content-no-padding" >
        <f7-block>
          <h2 v-if="lunchSelected">COMIDA: {{lunchSelected.name}} <a @click="lunchSelected=false; resetMeals();"><i class="f7-icons size-22">trash</i></a></h2>
          <f7-list>
            <f7-list-item>
              <f7-input
                class="search-input"
                type="text"
                placeholder="Buscar cenas..."
                clear-button
                :value="searchDinner"
                @input="searchDinner = $event.target.value"
              >
              </f7-input>
            </f7-list-item>
            <f7-list-item @click="selectDinner(dinner)" link="#" v-for="dinner in filteredDinner" :key="dinner.id" :title="dinner.name" :after="dinner.labelSelected">
            </f7-list-item>
          </f7-list>
        </f7-block>
      </f7-tab>
      <f7-tab id="menu" class="page-content page-content-no-padding" >
        <f7-block>
          <f7-row class="text-align-center">
            <f7-col width="40" v-if="lunchSelected">
              <h4>COMIDA</h4>
              <p>{{lunchSelected.name}} </p>
            </f7-col>
            <f7-col width="40" v-if="dinnerSelected">
              <h4>CENA</h4>
              <p>{{dinnerSelected.name}} </p>
            </f7-col>
            <f7-col width="20" v-if="dinnerSelected && lunchSelected">
              <h1>&nbsp;</h1>
              <a @click="addMenu(lunchSelected,dinnerSelected)"><i class="f7-icons size-29">add_round</i></a>
            </f7-col>
          </f7-row>
          <h3 v-if="menus.length > 0" class="text-align-center">MENÚ SEMANAL</h3>
          <f7-row v-if="menus.length > 0" :key="menukey" class="text-align-center border-bottom" v-for="(menu, menukey) in menus">
            <f7-col width="40">
              <b>{{menu.lunch.name}}</b>
            </f7-col>
            <f7-col width="40">
              <b>{{menu.dinner.name}}</b>
            </f7-col>
            <f7-col width="20">
              <a @click="removeMenu(menukey)"><i class="f7-icons size-22">trash</i></a>
            </f7-col>
          </f7-row>
        </f7-block>
      </f7-tab>
    </f7-tabs>

  </f7-page>
</template>
<script>
    import {_lunchs} from '../meals';
    import {_dinners} from '../meals';
    import LunchCollection from '../collections/LunchCollection'
    import DinnerCollection from '../collections/DinnerCollection'

    export default {
        name: 'overview',
        data() {
            let menus  = [];
            let lunchs  = [];
            let lunchSelected  = false;
            let dinners = [];
            let dinnerSelected  = false;
            let searchLunch = "";
            let searchDinner = "";
            let lunchCollection = new LunchCollection();
            let dinnerCollection = new DinnerCollection();

            return {
              menus,
              lunchs,
              dinners,
              lunchSelected,
              dinnerSelected,
              searchLunch,
              searchDinner,
              dinnerCollection,
              lunchCollection
            };
        },

        mounted() {
          var self = this;
          self.lunchCollection.fetch().then((response) => {
            self.dinnerCollection.fetch().then((response) => {
              self.resetMeals();
            });
          });
        },
        computed: {
          filteredLunch() {
            return this.lunchs.filter(lunch => {
              return lunch.name.toLowerCase().includes(this.searchLunch.toLowerCase()) || lunch.tags.toLowerCase().includes(this.searchLunch.toLowerCase())
            })
          },
          filteredDinner() {
            return this.dinners.filter(dinner => {
              return dinner.name.toLowerCase().includes(this.searchDinner.toLowerCase()) || dinner.tags.toLowerCase().includes(this.searchLunch.toLowerCase())
            })
          }
        },
        methods: {
          resetAll(){
            this.$f7.tab.show("#lunch",'animate');
            this.resetMeals();
            this.lunchSelected  = false;
            this.dinnerSelected  = false;
            this.searchLunch = "";
            this.searchDinner = "";
            this.menus = [];
          },
          resetMeals(){
            this.lunchs = this.lunchCollection.models;

            this.dinners = this.dinnerCollection.models
          },
          selectLunch(lunch){
            this.$f7.tab.show("#dinner",'animate');
            this.lunchSelected = lunch.toJSON();
            this.loadDinners();
            this.showMenu();
          },
          selectDinner(dinner){
            this.$f7.tab.show("#lunch",'animate');
            this.dinnerSelected = dinner.toJSON();
            this.loadLunchs();
            this.showMenu();
          },
          loadLunchs(){
            var lunchs = [];
            var dinnerRelations = this.dinnerSelected.relations.split(",");

            for (var i = dinnerRelations.length - 1; i >= 0; i--) {
              var currentLunch = this.lunchs.filter(lunch => {
                return lunch.id == dinnerRelations[i]
              });
              lunchs.push(currentLunch[0]);
            }

            this.lunchs = lunchs;
          },
          loadDinners(){
            var dinners = [];
            var lunchRelations = this.lunchSelected.relations.split(",");

            for (var i = lunchRelations.length - 1; i >= 0; i--) {
              var currentDinner = this.dinners.filter(dinner => {
                return dinner.id == lunchRelations[i]
              });
              dinners.push(currentDinner[0]);
            }

            this.dinners = dinners;

          },
          showMenu(){
            if(this.dinnerSelected && this.lunchSelected){
              this.$f7.tab.show("#menu",'animate');
            }
          },
          addMenu(lunch,dinner){
            this.menus.push({
              'lunch':lunch,
              'dinner':dinner
            });

            this.searchLunch = "";
            this.searchDinner = "";
            this.lunchSelected=false;
            this.dinnerSelected=false;
            this.resetMeals();
          },
          removeMenu(menuKey){
            this.menus.splice(menuKey, 1);
          }

        },
    }
</script>