/* Your app styles here */
.tabbar-labels.toolbar-bottom-md a.link{
	font-size: 12px !important;
	line-height: 25px !important;
}

li.swipeout {
	list-style-type: none;
}

span.ld-tags{
	margin-right: 5px;
}

a .row.text{
	color: #212121 !important;
}

.poweredby {
	margin-top:20px;
	text-align: center;
}

.f7-icons-bigger {
	font-size: 40px !important;
}

.purple {
	color: #CE1F21;
}

.panelscroll .page-content{
	overflow-y: scroll !important;
}

.size-22 { font-size: 22px!important; }
.size-25 { font-size: 25px!important; }
.size-29 { font-size: 29px!important; }
.size-50 { font-size: 50px!important; }

.offer-row .fab a{
	border-radius: 8px !important;
	height: 35px !important;
	width: 80px !important;
}

.accordion-item .item-link .item-title{
	font-weight: bold;
}

.checkboxright i {
	float: left;
	margin-right: 10px;
}


.md .navbar{
	background: #CE1F21!important;
}

.md body,
.md .page{
	background: #f2f2f2!important;
}


.md a {
    color: #CE1F21;
}

/*--------------------------------------------------------------*/
/*  Toolbar                    									*/
/*--------------------------------------------------------------*/


.toolbar{
	background: #CE1F21!important;
}

.md .toolbar a.link i + span,
.md .toolbar a.link i + i,
.md .toolbar a.link span + i,
.md .toolbar a.link span + span{
	margin-left: 0;
}

.f7-icons{
	padding-top: 5px;
	font-size: 20px;
}



/*--------------------------------------------------------------*/
/*  Card                  									    */
/*--------------------------------------------------------------*/


.md .card{
	margin-bottom: 1.5em;
	background: #fff;
	margin-left: 0;
	margin-right: 0;
}

.card-footer .f7-icons,
.card-content .f7-icons{
	color: #CE1F21;
}

.card-header{
	color: #CE1F21;
	font-size:1.8em!important;
	padding: 15px 15px!important;
}

.text-title {
    font-size: 1.3em;
    line-height: 1.3em;
}

.text-date{
	font-size: 0.9em;
	padding: 10px 0 10px 0;
	color: #ddd;
}





/*--------------------------------------------------------------*/
/*  panel                  									    */
/*--------------------------------------------------------------*/

.panel .page{
	background: #fff!important;
}




/*--------------------------------------------------------------*/
/*  list                  									    */
/*--------------------------------------------------------------*/

.md .list{
	background: #fff!important;
}

.list .f7-icons{
	color: #CE1F21;
}

.md .list .item-after{
	color: #CE1F21;
}




/*--------------------------------------------------------------*/
/*  form active/focus     									    */
/*--------------------------------------------------------------*/

.item-content.item-input.item-input-focused .item-input-wrap::after,
.item-input-focused::after{
	background: #CE1F21;
}



.md .icon-checkbox,
.md .checkbox i{
	border-color: #CE1F21;
}

.md label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
.md label.item-checkbox input[type="checkbox"]:checked ~ * .icon-checkbox,
.md .checkbox input[type="checkbox"]:checked ~ i{
	background: #CE1F21;
	border-color: #CE1F21;
}

/*--------------------------------------------------------------*/
/*  buttons             									    */
/*--------------------------------------------------------------*/
.md .button{
	background: #47ce87!important;
	line-height: 3.5em;
	height: 3.5em;
}

.md .color-cf-purple {
	background: #CE1F21!important;
}


.md .login-screen-content .list-button {
    text-align: center;
    color: #fff;
    background: #47ce87;
    margin-bottom: 10px;
    border-radius: 5px;
}



/*--------------------------------------------------------------*/
/*  login                									    */
/*--------------------------------------------------------------*/

.login form{
	padding: 0 16px;
}

.login .list{
	padding: 0 16px;
}

.fb-button button{
	border-radius: 5px;
}



/*--------------------------------------------------------------*/
/*  notifications          									    */
/*--------------------------------------------------------------*/


.notifications .item-date{
	font-size: 1em;
	color: #aaa;
}

.notifications .item-title{
	font-size: 1.3em;
	color: #CE1F21;
}

.md .toggle.color-blue input[type="checkbox"]:checked + .toggle-icon::after,
.md .toggle input[type="checkbox"]:checked + .toggle-icon::after{
	background: #CE1F21;
}

.md .toggle.color-blue input[type="checkbox"]:checked + .toggle-icon{
	background: #ffd3d9;
}

.notifications .read{
	background-color: #f9f9f9;
}

.notifications .read .item-title-row .item-title{
	color: #212121;
}

.notifications .item-notifications-row{
	font-size: 0.8em;
}

.notifications .item-notifications-row .f7-icons {
    padding-top: 5px;
    font-size: 17px;
    padding-top: 10px;
}


/*--------------------------------------------------------------*/
/*  profile             									    */
/*--------------------------------------------------------------*/

.user-edit .list .item-after{
	color: #212121;
}
/*
.user-edit .list input[type="text"],
.user-edit .list input[type="password"],
.user-edit .list input[type="search"],
.user-edit .list input[type="email"],
.user-edit .list input[type="tel"],
.user-edit .list input[type="url"],
.user-edit .list input[type="date"],
.user-edit .list input[type="datetime-local"],
.user-edit .list input[type="time"],
.user-edit .list input[type="number"],
.user-edit .list select{
	height: 36px;
	color: #212121;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 10px;
}
*/

/*--------------------------------------------------------------*/
/*  organisation          									    */
/*--------------------------------------------------------------*/

.organisation img{
	width: 100%!important;
	height: inherit!important;
}

.organisation .button-fill{
	margin-bottom: 16px;
}



/*--------------------------------------------------------------*/
/*  vacatures/solliciteren       								*/
/*--------------------------------------------------------------*/
.solliciteren .list .item-after,
.vacature .list .item-after{
	color: #212121;
}

.accordion-list .button-fill{
	margin-bottom: 16px;
}

.badge.color-blue{
	background: #CE1F21!important;
}

.offers .panel-right{
	position: fixed;
}

.offers .panel-backdrop{
	position: fixed;
}


/*--------------------------------------------------------------*/
/*  bemiddelingen			      								*/
/*--------------------------------------------------------------*/


.bemiddelingen .list .item-after{
	color: #212121;
}

.bemiddelingen .item-date{
	font-size: 1em;
	color: #aaa;
}

.bemiddelingen .item-title{
	font-size: 1.3em;
	color: #CE1F21;
}

.fbButtonLogin a{
	background: linear-gradient(#4C69BA, #3B55A0) !important;
}

.user-register-thank .page-content{
	background: #CE1F21!important;
    color: white;
}

/*--------------------------------------------------------------*/
/*  ios Style			      								*/
/*--------------------------------------------------------------*/
.ios .toolbar-inner {
	align-items: start !important;
	align-content: start !important;
}
.ios .tabbar-labels{
	height: 60px !important;
}
.ios .tabbar{
	top: 40px !important;
}
.ios .tabbar, .ios .tabbar-labels, .ios .tabbar-labels a, .ios .tabbar a{
	color: #FFF !important;
}

.ios .button{
	background: #47ce87!important;
	line-height: 3.5em;
	height: 3.5em;
}

.ios .color-cf-purple {
	background: #CE1F21!important;
}


.ios .login-screen-content .list-button {
    text-align: center;
    color: #fff;
    background: #47ce87;
    margin-bottom: 10px;
    border-radius: 5px;
}


.ios .navbar{
	background: #CE1F21!important;
	color: #fff!important;
}

.ios .navbar a{
	color: #fff!important;
}

.ios body,
.ios .page{
	background: #f2f2f2!important;
}


.ios a {
    color: #CE1F21;
}

.ios .toolbar a.link i + span,
.ios .toolbar a.link i + i,
.ios .toolbar a.link span + i,
.ios .toolbar a.link span + span{
	margin-left: 0;
}

.ios .card{
	margin-bottom: 1.5em;
	background: #fff;
	margin-left: 0;
	margin-right: 0;
}

.ios .list{
	background: #fff!important;
}

.ios .list .item-after{
	color: #CE1F21;
}
.ios .icon-checkbox,
.ios .checkbox i{
	border-color: #CE1F21;
}

.ios label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
.ios label.item-checkbox input[type="checkbox"]:checked ~ * .icon-checkbox,
.ios .checkbox input[type="checkbox"]:checked ~ i{
	background: #CE1F21;
	border-color: #CE1F21;
}

.ios .icon-back, .ios .icon-prev{
	color: #FFF !important;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M.18261596%209.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038%201.52656832-.5849888%202.11643872.00488163.5857864.58578644.591222%201.53009836.0048816%202.11643873L3.82594417%209.9967039l7.43188553%207.4318855c.5830904.5830904.5849888%201.5265683-.0048817%202.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849%2010.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z'%20fill%3D'%23ffffff'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E") !important;
}

.ios .icon-forward, .ios .icon-next{
	color: #FFF !important;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M11.51840604%2010.5648622c-.0352203.05148305-.07573462.10050698-.1215468.14631917L2.5584348%2019.5496058c-.5830904.58309038-1.52656832.5849888-2.11643872-.00488163-.5857864-.58578644-.591222-1.53009836-.0048816-2.11643873L7.87507783%209.9903221.4431923%202.5584366C-.1398981%201.9753462-.1417965%201.0318683.448074.4419979c.5857864-.5857865%201.5300983-.591222%202.11643868-.0048816l8.83842442%208.8384244c.3526746.3526746.3939974.89699.11546894%201.2893215z'%20fill%3D'%23ffffff'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E") !important;
}

.ios .favourite-overview .page-content .tabs{
	margin-top: 30px;
}

.swipeout-delete-no-action{
	background: #f44336!important;
}
.filter-class {
	padding-top: 0px !important;
}

.card-no-bottom-padding {
	padding-bottom: 0px !important;
}

.add-organisation i {
	margin-top: 3px;
}
.card-content img{
	max-width: 100%;
}

/*--------------------------------------------------------------*/
/*  user edit                  									*/
/*--------------------------------------------------------------*/


.user-edit-wrapper .myList .list{
	margin: 0!important;
}

.user-edit-wrapper .myList .list ul:after{
	content: unset!important;
}

.inner-list-wrapper .list{
	margin: 0!important;
	padding-bottom: 20px;
}

.inner-list-wrapper .list ul:after,
.md .inner-list-wrapper .list .item-inner::after{
	content: unset!important;
}

/*.md .item-input-wrap::after{
	background-color: #f0f0f0!important;
}*/

.md .item-input-wrap .list ul{
	padding-left: 0!important;
}

.md .icon-radio{
	border-color: #CE1F21;
	margin-right: 20px!important;
}
.md .icon-radio::after{
	background-color: #CE1F21!important;
}
.md label.item-radio input[type="radio"]:checked ~ .icon-radio, .md label.item-radio input[type="radio"]:checked ~ * .icon-radio, .md .radio input[type="radio"]:checked ~ .icon-radio{
	border-color: #CE1F21;
}

.inner-list-wrapper-radio .item-inner{
	padding: 0!important;
}

.inner-list-wrapper-radio .item-title{
	line-height: 48px;
}


.go-back{
	padding-top: 20px;
	display: block;
}


.md .list .item-inner{
	min-height: inherit;
}

.md .inner-list-wrapper .media-list .item-inner,
.md .inner-list-wrapper li.media-item .item-inner{
	padding-top: 10px;
	padding-bottom: 10px;
}

.card-footer::before{
	z-index: 0;
}

input[readonly="readonly"] {
    color: #999 !important;
}

.login-screen-content .list-button,
.button,
.md .button,
.ios .button {
    text-transform: uppercase!important;
    font-size: 16px!important;
    height: 3.5em!important;
    line-height: 3.5em!important;
    color: white !important;
}

.link-badge{
	color: white!important;
	font-size: 14px;
}

.item-cell-time{
	width: 25% !important;
	font-size: 0.8em !important;
}

.card-header-centered{
	display: inline-block;
	width: 100%;
}

.session-link{
	color: black !important;
}

.item-border-left {
	border-left: 0.5px solid #CE1F21!important;
}

.item-cell-session{
	padding:5px;
	cursor: pointer;
}

.badget-tag{
	margin-right: 5px;
	margin-bottom: 5px;
}

.row {
	padding: 5px 0;
}

.notification-detail .row {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	padding-top: 10px;
}

.btn {
	background: #2ecc71;
	color: #ffffff !important;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
}

label {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5px;
	display: block;
}

.link i {
	padding-top: 0px !important;
}

.button-input a{
	background-color: #2ecc71 !important;
	text-align: center;
	font-style: bold;
}

input:matches([type="button"], [type="submit"], [type="reset"]), input[type="file"]::-webkit-file-upload-button, button {
	background: unset !important;
	background-color: gray!important;
	border-radius: 5px !important;
	color: #333 !important;
	border-color: gray !important;
	border-radius: 5px !important;
	border-image: unset !important;
	color: #ffffff !important;
}

.item-input-custom-error{
	color: #f44336;
	font-size: 12px;
}

.page-content-no-padding{
	padding: 0px!important;
}
.border-bottom{
	border-bottom: 1px solid grey;
}
div.search-input input{
	padding: 5px;
	border: 1px solid grey;
}

.tabbar a.tab-link {
	color: #FFFFFF !important;
	font-weight: bold !important;
}
.tabbar a.tab-link-active {
  color: #333333 !important;
}