.facebookButtonLogin {
	position: relative;
    border: none;
    line-height: 34px;
    font-size: 16px;
    color: #FFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4C69BA), to(#3B55A0));
    background-image: linear-gradient(#4C69BA, #3B55A0);
    margin-left: 15px;
    margin-right: 15px;
}

.faceboolImage {
	position: absolute;
    top: 3px;
    left: 10px;
    width: 30px;
}