<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Main View -->
    <f7-views>
      <!-- <f7-view id="view-bottom" bottom>
        <f7-toolbar labels :bottom-md="true">
          <f7-link href="/" text="Home" icon-f7="home"></f7-link>
          <f7-link  text="Uitloggen" class="panel-close" icon-f7="close_round"></f7-link>
        </f7-toolbar>
      </f7-view> -->
      <f7-view class="panel-close" id="main-view" url="/" main></f7-view>
    </f7-views>
  </div>
</template>

<script>

export default {
  name: 'App',
  mounted() {
  },
  data() {
    return {
    };

  },
  methods: {
    onF7Init: function () {
      console.log('f7-init');
    },
    handleBackButton() {
      // NOTE: The back button will behave differently depending on circumstance
      // If the side panel is open, close it
      if (document.querySelector('.panel-left.panel-active')) {
        // This will do nothing when the split-view is open
        return this.$f7.panel.close();
      }
      // Close modals
      // @TODO How to handle modals we shouldn't close like a login-screen?
      if (document.querySelector('.modal-in')) {
        return this.$f7.popover.close();
      }
      // If we have a back button, we want it to go back
      console.log(this.$f7.views[0].router.history);
      if (this.$f7.views[0].router.history.length > 2) {
        return this.$f7.views[0].router.back();
      }
      // Default to closing the app
      return window.navigator.app.exitApp();
    },
    onDeviceReady: function() {
      if(typeof(FirebasePlugin) !== "undefined"){


        var self = this;

        FirebasePlugin.onNotificationOpen(function(notification){
          console.log(notification);
          if(notification.tap){
            // Background recieval (Even if app is closed)
            if(notification.type && notification.typeId){
              self.$f7.views[0].router.navigate("/"+notification.type+"/"+notification.typeId);
            }
          } else {
            //var app = new Framework7();

            // Create full-layout notification
            if(notification.type && notification.typeId){
              var notificationFull = self.$f7.notification.create({
                title: "Nex session start in 5 minutes.",
                titleRightText: 'now',
                text: "The session is about "+ notification.typeName,
                closeButton: true,
                closeTimeout: 3000,
                on: {
                  click: function () {
                    self.$f7.views[0].router.navigate("/"+notification.type+"/"+notification.typeId);
                  },
                },
              });
              notificationFull.open();
            }
          }
        }, function(err){
          console.log("Arf, no good mate... " + err);
        });
      }
      document.addEventListener('backbutton', this.handleBackButton);
    }
  },
  created() {
    document.addEventListener(
          'deviceready',
           this.onDeviceReady
    );
  }
};
</script>
